# columnname,columntype,datatype,start,end
# columnname is the column name you want in the csv file.  The row order is 
# used for the column ordering
# columntype - key or value.  A key is a ordered primary key (full or part) 
# until the max key - always an integer.  Value is random number for one of the metrics
# data type - integer, float, text, date ("yyyy-mm-dd" format)
# start,end - min and max values.  the range for generated data
#
#NOTE: keep the column types keys first, and the values last
#
productid,key,integer,1,4
locationid,key,integer,1,2
dayid,key,integer,1,1
divisionid,value,integer,1,1
productcategoryid,value,integer,1,1000
startdate,value,date,2011-01-01,2011-12-31
enddate,value,date,2012-01-01,2012-12-31
optunitvol,value,integer,1,200
optrev,value,float,1,1000
Optgrossmargin,value,float,1,100


# establish 1->many relationships.  if you want one of the values always map to the same key, 
# then create a relationship here
# For example, a product should have the same product category id
# currently supported only for value->key mapping
# productcategoryid,productid
# divisionid,locationid
